if _path == "/index.html"
    #home-slider
        .container
            .row
                .col-md-4.col-sm-4.col-xs-12.pull-right.text-right
                    img(src="../img/cover-badge.png",style="max-width:100%;")

                .col-md-8.col-sm-8.col-xs-12
                    .cover-caption
                        .cover-caption-inner
                            .cover-caption-text
                                h3.mt-0.white-text We strive to excel in every service we provide, adding value for our customers wherever possible, and thereby attaining national leadership in the energy industry.
                            .cover-caption-btn.mt-40
                                a(href="/").btn.btn-primary.eq-ui-waves-light  Enroll Now

if _path == "/about-us.html"
        .container
            .title-container
                h1.title.text-center About Us
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/course-enquiries.html"
        .container
            .title-container
                h1.title.text-center Course Enquiries
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/affiliated-links.html"
        .container
            .title-container
                h1.title.text-center Affiliated Links
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/downloads.html"
        .container
            .title-container
                h1.title.text-center Downloads
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/contact-us.html"
        .container
            .title-container
                h1.title.text-center Contact Us
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/terms-and-conditions.html"
        .container
            .title-container
                h1.title.text-center Terms and Conditions
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide

if _path == "/privacy-policy.html"
        .container
            .title-container
                h1.title.text-center Privacy Policy
                
            .sub-title-container
                h4.sub-title We strive to excel in every service we provide