section#footer-layout-box
    .container
        .row
            #layout-box-1.col-md-4.col-sm-4
                h4.title.text-uppercase.semi-bold About Us
                p Formed in 1997 Gas Certification Company Limited initially operated providing ACS Training & Assessment to engineers wishing to work in the gas industry.
                ul.footer-social-media.pl-0.mt-25
                    li
                        a(href="/")
                            i.mdi.mdi-facebook
                    li
                        a(href="/")
                            i.mdi.mdi-twitter
                    li
                        a(href="/")
                            i.mdi.mdi-google-plus
            #layout-box-2.col-md-2.col-sm-2
                h4.title.text-uppercase.semi-bold Company
                ul.arrow.pl-0
                    li
                        a(href="/about-us") About
                    li
                        a(href="/course-enquiries") Enquire
                    li
                        a(href="/affiliated-links") Affiliated
                    li
                        a(href="/downloads") Downloads
                    li
                        a(href="/contact-us") Contact
                    li
                        a(href="/") Shop
            #layout-box-3.col-md-2.col-sm-3
                h4.title.text-uppercase.semi-bold Courses
                ul.arrow.pl-0
                    li
                        a(href="/") Gas Course
                    li
                        a(href="/") Electrical Course
                    li
                        a(href="/") Energy Course
                    li
                        a(href="/") Oil Course
                    li
                        a(href="/") Water Courses
                    li
                        a(href="/") Safety Audits Course
                    li
                        a(href="/") Gas Safety Course
            #layout-box-4.col-md-3.col-sm-3
                h4.title.text-uppercase.semi-bold Contact
                p Unit 37, Block 5, Third Road, Blantyre Industrial Estate, Blantyre G72 0UP
                ul.normal-list.pl-0.mt-25
                    li
                        i.mdi.mdi-phone.icon.icon-left 
                        | 01698 828222
                    li
                        i.mdi.mdi-email.icon.icon-left 
                        a(href="mailto:enquiries@gascert.co.uk") enquiries@gascert.co.uk
section#copyright.pb-20
    .container
        hr
        .row
            .col-xs-12.col-sm-5.col-md-6.pull-right.mb-0
                ul.copyright-links.pl-0
                    li.ml-0
                        a(href="/privacy-policy") Privacy
                    li
                        a(href="/terms-and-conditions") Terms
                    li
                        a(href="/sitemap.xml") Sitemap
            .col-xs-12.col-sm-7.col-md-6
                p= records.site.sitedata[0].footer

script(type="text/javascript", src="../js/webriq-bootstrap-material-ui.min.js")
script(type="text/javascript", src="../js/lightcase.js")
script(type="text/javascript", src="../js/jquery.events.touch.js")
script.
    jQuery(document).ready(function($) {
        $('a[data-rel^=lightcase]').lightcase({
            swipe: true,
            transition : 'scrollHorizontal',
            showSequenceInfo : true,
            fullScreenModeForMobile: true
        });
        $( ".effect-goliath" ).click(function() {
          $( ".effect-goliath p").slideToggle( "slow" );
        });
         $(function(){
          function stripTrailingSlash(str) {
          if(str.substr(-1) == '/') {
          return str.substr(0, str.length - 1);
          }
          return str;
          }
          var url = window.location.pathname;
          var activePage = stripTrailingSlash(url);
          $('.nav li a').each(function(){
          var currentPage = stripTrailingSlash($(this).attr('href'));
          if (activePage == currentPage) {
          $(this).parent().addClass('active');
          }
          });
        });
    });

if _path == "/contact-us.html"
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
          // When the window has finished loading create our google map below
          google.maps.event.addDomListener(window, 'load', init);
          function init() {
          // Basic options for a simple Google Map
          // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
          var mapOptions = {
          // How zoomed in you want the map to start at (always required)
          zoom: 15,
          scrollwheel: false,
          // The latitude and longitude to center the map (always required)
          center: new google.maps.LatLng(55.7825437, -4.0886001), // New York
          // How you would like to style the map.
          // This is where you would paste any style found on Snazzy Maps.
          styles: [{"featureType":"water","elementType":"all","stylers":[{"hue":"#7fc8ed"},{"saturation":55},{"lightness":-6},{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"hue":"#7fc8ed"},{"saturation":55},{"lightness":-6},{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"hue":"#83cead"},{"saturation":1},{"lightness":-15},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"hue":"#f3f4f4"},{"saturation":-84},{"lightness":59},{"visibility":"on"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"on"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#bbbbbb"},{"saturation":-100},{"lightness":26},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#ffcc00"},{"saturation":100},{"lightness":-35},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#ffcc00"},{"saturation":100},{"lightness":-22},{"visibility":"on"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"hue":"#d7e4e4"},{"saturation":-60},{"lightness":23},{"visibility":"on"}]}]
          };
          // Get the HTML DOM element that will contain your map
          // We are using a div with id="map" seen below in the <body>
          var mapElement = document.getElementById('map');
          // Create the Google Map using our element and options defined above
          var map = new google.maps.Map(mapElement, mapOptions);
          // Let's also add a marker while we're at it
          var marker = new google.maps.Marker({
          position: new google.maps.LatLng(55.7825437, -4.0886001),
          map: map,
          title: 'Snappy!',
          icon: '../img/map-marker.png'
          });
          }

<!-- Google Analytics -->
script(type="text/javascript")
    != records.site.sitedata[0].analytics


