extends general-layout

block content

    .container
        .row
            .col-md-6.col-sm-6.col-xs-12.pull-right
                img(src="../img/gascert-home.jpg", width="100%")
            .col-md-6.col-sm-6.col-xs-12
                h4.mt-0.mb-20 Before we get ahead of ourselves, we want to welcome you to Gas Certification Company Limited. While nothing can replace thing on-the-lot experience.

                p The Gas Certification Company Limited opened for business on 2 July 1997.  Initially operating from rented premises, the Company now owns its premises in Blantyre Industrial Estate – a basic industrial unit which was purchased and converted into a bespoke training centre of the highest quality in 2003.

                p Gas Certification Company Limited and Energy Certification Company Limited offer a range of courses covering a wide spread of the energy industry from our training centre in Glasgow, Scotland.
        
    .about-awards
        .container
            .title-container
                h2.title.text-center.white-text Recognitions & Awards

            .sub-title-container.text-center
                h5.sub-title.white-text  List of our recognitions & Awards
            .row
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong Recognitions
                    span ISO 9001: 2000
                    
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong CORGI  Awards 2007
                    span Gas Safety Initiative – Training Centre
                    em September 2007

                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong Logic Certification
                    span Logic Certification Approved Centre
                    em June 2007
                    
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong Learn Direct
                    span Learn Direct Approved Centre
                    em August 2006
            .row
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong Investors in People
                    span Investors in People
                    em September 2004
                    
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong Scottish Enterprise
                    span Business Excellence Award, Best performing Small Business
                    em February 2004

                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5 
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong City & Guilds
                    span City & Guilds Approved Centre
                    em 2003
                    
                .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                    h5
                        i.mdi.mdi-checkbox-marked-circle-outline.icon.icon-left
                        strong NIC Certification (Zurich)
                    span NIC Certification (Zurich) Approved Centre
                    em December 2000
                
    .container
        .row
            .col-md-12
                h4 Gas Certification Company Limited was formed to provide engineers with training and assessment for Gas Safe registration.  Initially training was presented to meet ACOPs standard and then the ACS qualification which was introduced in 1999 replacing ACOPs by 31 July 2003.
                hr

            .col-md-6.col-sm-6.text-justify

                p With the introduction of ACS, the Company appointed Zurich Certification, who later became NIC Certification as its regulatory body.  As the business grew the Directors decided to appoint a further regulatory body to share the work load.  It was also felt that the Company had reached a stage where it should not be dependent on the services of one provider.  Gas Certification Company Limited now uses the services of both NIC Certification and Logic Certification.

                p Within a short time of commencing trading the Company expanded its portfolio of training courses to include LPG and OIL (OFTEC).  In the following years further courses were introduced and the extensive range of courses now includes Electrical, Solar Energy, Water Regulation etc.

                p In addition to the regular courses, bespoke training designed to meet specific requirements are also available,  In October 2008 Gas Certification was appointed by PRI limited (Winchester, England) and Entity Solutions, (Udaipur, India) to create a training course in gas safety and competence for their scientists involved in the design of an electronic smart gas meter.

            .col-md-6.col-sm-6
                
                p The expertise available within the company allowed the staff to develop a gas safety consultancy service and to provide Gas Safety Audits for local authorities and housing associations.  The directors’ policy from the outset was that Gas Certification Company would have no involvement in the installation or servicing of gas appliances, as this would bring them into direct competition with their customers.  This enables the Company to offer a completely impartial audit service free from conflict of interest.

                p To complement the Gas Safety Audits, Gas Safety Awareness Courses were developed to educate those who do not require formal gas qualifications, but have responsibility for gas installations, in their responsibilities and the procedures required to manage gas contracts safely.  The courses have proved to be popular with Housing Association and Local Authority staff.
            .col-md-12
                hr.mb-0
    
    .container.mt-40
        .title-container
            h2.title.text-center Meet the Staff

        .sub-title-container.text-center
            h5.sub-title Team of the best experts at your service
        .row
            .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                .team-item
                    .team-item-profile
                        img(src="../img/staff/teacher1.jpg")
                    .team-item-name
                        h4 Will Power
                    .team-item-position     
                        h5 Electrical Instructor                   
            .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                .team-item
                    .team-item-profile
                        img(src="../img/staff/teacher2.jpg")
                    .team-item-name
                        h4 Will Powerless
                    .team-item-position 
                        h5 Gas Instructor   
            .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                .team-item
                    .team-item-profile
                        img(src="../img/staff/teacher3.jpg")
                    .team-item-name
                        h4 Will Powerfull
                    .team-item-position
                        h5 Energy Instructor 
            .col-md-3.col-sm-3.col-xs-6.col-xxs-12
                .team-item
                    .team-item-profile
                        img(src="../img/staff/teacher4.jpg")
                    .team-item-name
                        h4 Will Powersome
                    .team-item-position
                        h5 Safety Instructor 