extends general-layout

block content

    .container
        p Kindly complete and post or fax the form to us. We will forward you an application pack which will include information on the costs relating to your selected course(s). We will also be in contact to advise dates on which the course will be available.

        p Company applications for several employees; please complete the Company section and provide a brief description of numbers to attend in the comments section.
