extends general-layout

block content

    .container
        h3 Downloadable files relating to various parts of the website.

        table.table.gascert-theme-1
            thead
                tr
                    th(colspan="3")
                        h4 Right-click file icon or title to download. PDFs may alternatively be viewed in your browser by left-clicking.
            tbody
                tr
                    td
                        a(href="pdf/Domestic Category 2 Application Form.pdf" target="_blank")
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/Domestic Category 2 Application Form.pdf" target="_blank") Domestic Category 2 Application Form
                    td Form for candidates wishing to be assessed under the ACS scheme as Category 2 or new Category 1 applicants (who have undergone extended / structured training programme organised by a training provider).
                tr
                    td
                        a(href="#" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="#" target="_blank" ) Domestic Course Dates January - April 2015
                    td Scheduled Domestic Course dates from January - March 2015 Please contact the office on 01698 828222 for course availability and costs.
                tr
                    td
                        a(href="#" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="#" target="_blank" ) Domestic Course Dates July - December 2014
                    td Scheduled Domestic Course dates from July to December 2014. Please contact the office on 01698 828222 for course availability and costs.
                tr
                    td
                        a(href="pdf/Application for Training.pdf" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/Application for Training.pdf" target="_blank" ) GCC Application for Training
                    td Application form for all Gas Certification training courses.
                tr
                    td
                        a(href="pdf/GCC Booking Form.pdf" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/GCC Booking Form.pdf" target="_blank" ) GCC Booking Form
                    td Gas Certification Booking Form
                tr
                    td
                        a(href="pdf/Non Domestic Category 2 Application Form.pdf" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/Non Domestic Category 2 Application Form.pdf" target="_blank" ) Non Domestic Category 2 Application Form
                    td Logic Certification Supplementary Application Evidence Form. For all all Category 2 candidates and for Category 3 Candidate who have completed any Managed Learning Program (MLP) other than the Logic Certification APL training course.
                tr
                    td
                        a(href="#" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="#" target="_blank" ) Non Domestic Course Dates July - December 2014
                    td Scheduled Non Domestic Course dates fro July - December 2014. Please contact the office on 01698 828222 for course availibility and costs.
                tr
                    td
                        a(href="#" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="#" target="_blank" ) Non Domestic Course Dates March - June 2014
                    td Scheduled Non Domestic Course dates from March - June 2014. Please contact the office on 01698 828222 for course availibity and costs.
                tr
                    td
                        a(href="pdf/oftec leaflet.pdf" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/oftec leaflet.pdf" target="_blank" ) OFTEC Leaflet
                    td
                        p Downloadable information sheet outlining OFTEC Courses available at our centre.
                tr
                    td
                        a(href="pdf/Portfolio of Evidence Form.pdf" target="_blank" )
                            i.mdi.mdi-file-pdf.icon.icon-left.icon-24
                    td
                        a(href="pdf/Portfolio of Evidence Form.pdf" target="_blank" ) Portfolio of Evidence Form
                    td To be completed for all work undertaken whilst working under the supervision of a registered gas engineer