extends layout

block content

	#home-company.pt-70.pb-70
		.container
			.row 
				.col-md-6
					.column-container
						.column-img.mb-20
							img(src="../img/gascert-home.jpg", style="max-width:100%;")
						.column-title.mb-15
							h3.text-uppercase.m-0 Gas Certification Company Limited
						.column-text.mb-25
							p Gas Certification Company Limited and Energy Certification Company Limited offer a range of courses covering a wide spread of the energy industry from our training centre in Glasgow, Scotland.
						.column-links
							a(href="/").btn.btn-primary.eq-ui-waves-light Read More
				.col-md-6