extends general-layout

block content

    .container
        h4 This policy applies to personal information we hold about individuals, sole traders and partnerships. It does not apply to information we hold about companies and other organisations.

        p Gas CertificationCompany Limited is a limited company registered in Scotland.

        p We believe that it is important to protect your privacy, we are committed to giving you a personalised service that meets your needs in a way that also protects that privacy

        p
            b This policy explains how: -
        ol(style="list-style-type: disc; margin-left: 40px")
            li we may collect information about you
            li use the information to meet your needs.
            li explains some of the security measures we take to protect your privacy.
            li tells you certain things we will not do.
        br
        p You can nominate whether to receive marketing and/or other information from us by ticking a box on our application form or contract. You may change your mind at any time by notifying us in writing at the address below.

        ol
            li
                h4 Collecting information
                p We may collect personal information about you, including your contact details, date of birth, your national insurance number and how you will pay for the product or service, from a number of sources:-

                ol(style="list-style-type: disc")
                    li From you when you apply for training and/or assessment or agree to take a service from us.
                    li From you when you contact us with an enquiry or in response to a communication from us, in which case this may tell us something about how you use our services.
                    li From documents that are available to the public, such as the electoral register.
                    li From documents that are avaiable from regulatory bodies, such as Gas Safe Register.

                p Please note that some of the personal information we hold about you may be 'sensitive personal data' within the meaning of the Data Protection Act 1998 - for example, information about your health or ethnic origin.

            li
                h4 Using information
                p Information you provide or we hold about you (whether or not under our contract or contracts with you) may be used by us or our agents to:

                ol(style="list-style-type: disc")
                    li identify you when you contact us.
                    li help identify services that you could have from us from time to time.
                    li contact you about the improved services we can provide. (we may contact you by e-mail or text message if you have provided us with these contact details).
                    li contact you in any way (including mail, e-mail, phone, visit, text or multimedia messages) about products and services offered by us.

                p We may allow other people and organisations to use information we hold about you: -

                ol(style="list-style-type: disc")
                    li as part of the process of registering you with a regulatory body
                    li to help prevent and detect debt, fraud or loss.
                    li if you have failed to pay us, in which case we may transfer your debt to another organisation and provide them with details about you and that debt.
                    li if we have been asked to provide information for legal or regulatory purposes as part of current or future legal proceedings.

                p Your information may be used for training purposes. We may also monitor and record communications with you for quality assurance and to make sure that we are meeting our legal and regulatory requirements.

                p If you give us information on behalf of someone else, you confirm you have given them the information set out in this document, and that they have given permission for their personal information to be used in the way we have described. If you give us sensitive information about yourself or others (such as health details or details of any criminal convictions of members of your household), you agree (and confirm that the person the information is about has agreed) to us processing this information in the way set out in this document.

                p If we believe that you, or anyone else you are acting on behalf of, need additional assistance (for example because of disability ), we may record this fact on our records.

            li
                h4 Protecting Information

                p We have strict security measures to protect personal information. This includes following certain procedures e.g. checking your identity when you contact us.

            li
                h4 The Internet

                p If you communicate with us using the internet, we may e-mail you about our services and products.

                p When you first give us personal information through our website, we will normally give you the opportunity to say whether you would prefer us not to contact you by e-mail.

                p However, you can always send us an e-mail (at the address set out below) at any time if you change your mind.

                p Please remember that communications over the Internet, such as e-mails and webmails (messages sent through a website), are not secure unless they have been encrypted. Your communications may go through a number of countries before they are delivered – this is the nature of the Internet. We cannot accept responsibility for any unauthorised access or loss of personal information that is beyond our control.
                p If you would like any more information or you have any comments about our privacy policy, please either write to us at Gas Certification Company Limited, Unit 37 Block 5 Third Road, Blantyre Industrial Estate, Blantyre G72 0UP,  or email us at <a href="mailto:enquiries@gascert.co.uk.">enquiries@gascert.co.uk</a>.
                p We may amend this policy from time to time, in which case we will publish the amended version on our website, and you can ask us for a copy by writing to the above address or by e-mailing us at <a href="mailto:enquiries@gascert.co.uk.">enquiries@gascert.co.uk</a>.