extends general-layout

block content

    .container
        ol.deep-nested
            li
                h3 Interpretation
                ol.deep-nested
                    li In these conditions:
                        ol.deep-nested
                            li <strong>“Booking Form”</strong> means the order for the provision of Services attached to and incorporated in these terms and conditions;
                            li  <strong>“Company”</strong> means The Gas Certification Company Limited, a company incorporated in Scotland, (Registered Number SC176913) and having its registered office at Block 5, Unit 37, Blantyre Industrial Estate, Blantyre, Glasgow, G72 OUP;
                            li <strong>“Customer”</strong> means the person or body whose Booking Form is accepted by the Company and who accepts the Services from the Company; and
                            li <strong>“Services”</strong> means the gas certification training courses provided by the Company to the Customer in accordance these terms and conditions.
                    li Any reference in these terms and conditions to any statute or statutory provision shall, unless the context otherwise requires, be construed as a reference to that statute or statutory provision as from time to time amended, consolidated, modified, extended, re-enacted or replaced.
                    li  In these terms and conditions references to the masculine includes the feminine and the neuter and to the singular includes the plural and vice versa as the context admits or requires.
                    li In these terms and conditions, headings will not affect the construction of the terms and conditions.
            li
                h3 Application of these terms and conditions
                ol.deep-nested
                    li Subject to clause 2.2, these terms and conditions shall apply to any agreement for the provision of Services by the Company to the Customer, to the exclusion of all other terms and conditions.
                    li These terms and conditions shall apply to all provision of Services by the Company and any variation to these terms and conditions and any representation about the Services shall have no effect unless expressly agreed in writing and signed on behalf of the Company.  The Customer acknowledges that it has not relied on any statement, promise or representation made or given on behalf of the Company which is not set out in these terms and conditions.
            li
                h3 Basis of sale of Services
                ol.deep-nested
                    li The Company shall provide and the Customer accepts the Services in accordance with any written quotation of the Company which is accepted by the Customer or the Booking Form which is accepted by the Company.  The Company’s employees or agents are not authorised to make any representation concerning the Services unless confirmed by the Company in writing.  In entering into this agreement, the Customer acknowledges that it does not rely on any representation which is not so confirmed.
            li
                h3 Orders and Specification
                ol.deep-nested
                    li No Booking Form submitted by the Customer shall be deemed to be accepted by the Company unless confirmed in writing by the Company’s authorised representative.
                    li The Customer shall be responsible for ensuring the accuracy of Booking Form submitted by the Customer and for giving the Company any necessary information relating to the Services within a sufficient time to enable the Company to provide the Services in accordance with its terms.
                    li The quality and description of and any specification for the Services shall be those set out in the Company’s quotation (if accepted by the Customer) or the Booking Form (if accepted by the Company).
                    li The Company reserves the right to make any changes in connection with the supply of the Services or to withhold performance of the Services in event that any application form requested by the Company from the Customer is not provided by the Customer within a period specified by the Company prior to the performance of the Services
                    li No Booking Form which has been accepted by the Company may be cancelled by the Customer except by agreement in writing by the Company and on terms that the Customer shall indemnify the Company in full against all loss (including loss of profit), costs (including the cost of labour and material used), damages, charges and expenses incurred by the Company as a result of such cancellation.
            li
                h3 Price
                ol.deep-nested
                    li The price of the Services shall be the Company’s quoted price as set out in the quotation or acknowledgement of Booking Form.  All prices quoted are valid for 30 days only or until earlier acceptance by the Customer, after which they may be altered by the Company without giving notice to the Customer.
                    li The Company reserves the right, by giving notice to the Customer at any time before the provision of the Services, to increase the price in connection with the Services, to reflect any increase in the cost to the Company which is due to any factor beyond the control of the Company (such as, without limitation, significant increases in the cost of labour, materials or other costs of manufacture), or specification of the Services which is requested by the Customer.
                    li  In respect of any purchase of  Services, the price of the Services shall be exclusive of VAT all of which amounts the Customer shall pay in addition when it is due to pay for the Services.
            li
                h3 Payment
                ol.deep-nested
                    li In the case of the supply of Services and subject to any special terms agreed in writing by the Customer and the Company, payment shall be made in advance of the provision of the Services.  On receipt by the Company of the Booking Form, the Company shall issue a confirmation to the Customer, confirming the provision of the Services and payment shall be made by the Customer to the Company no later than 14 days prior to the Services being provided.
                    li The Company may agree with the Customer, that payment may be made against invoices issued by the Company and shall be payable by the Customer in terms of clause 6.3.
                    li The Customer shall make full payment of the invoice, in cleared funds, within 30 days of the date of the Company’s invoice.  The time for payment of the price is the essence of the agreement.  Receipts for payment will only be issued on request.
                    li If the Customer fails to make any payment on the due date, then without prejudice to the other right or remedy available to the Company, the Company shall be entitled to:
                        ol.deep-nested
                            li withhold performance of any further Services until payment of any outstanding sum has been paid; and
                            li charge the Customer interest (both before any after any judgement) at the rate of 4% per annum above Bank of Scotland base rate from time to time until payment in full is made (a part of a month being treated as a full month for the purpose of calculating interest).
                    li All payments payable to the Company under this agreement shall become immediately due upon termination of this agreement, despite any other provision.
            li
                h3 Supply of Services
                ol.deep-nested
                    li Supply of Services shall be provided by the Company at Block 5, Unit 37, Blantyre Industrial Estate, Blantyre Glasgow, G72 OUP or other such location as agreed between the Customer and the Company.
                    li If the Company fails to provide the Services for any reason, other than any reason beyond the reasonable control of the Company, or due to a fault of the Customer, the Company’s liability shall be limited to the excess (if any) of the cost to the Customer (in the cheapest available market) of the supply of similar services to replace those not supplied over the price of the Services.
            li
                h3 Warranties and Liability
                ol.deep-nested
                    li Subject to the conditions set out below, the Company warrants that the Services will reach the standards expected of a reasonable and prudent gas certification trainer.
                    li The above warranty is given by the Company subject to the following conditions:
                        ol.deep-nested
                            li the Company shall be under no liability under the above warranty (or any other warranty, condition or guarantee) if the total price for the Services has not been paid by the due date for payment;
                            li the above warranty does not extend to parts, materials or equipment not manufactured by the Company, in respect of which the Customer shall only be entitled to the benefit of any such warranty or guarantee as us given by the manufacturer to the Company.
                    li  Subject as expressly provided in these terms and conditions, and except where Services are provided to a person dealing as a consumer (within the meaning of the Unfair Contract Terms Act 1977), all warranties, conditions or other terms implied by statute or common law are excluded to the fullest extent permitted by law.
                    li Where any valid claim in respect of the Services which is based on any defect in the quality of the provision of the Services is notified to the Company in accordance with these terms and conditions, the Company shall be entitled to provide alternative services free of charge or, at the Company’s sole discretion, refund to the Customer the cost of the Services (or a proportionate part of their price), but the company shall have no further liability to the Customer.
                    li Except in respect of death or personal injury caused by the Company’s negligence, the Company shall not be liable to the Customer by reason of any representation (unless fraudulent), or any implied warranty, condition or other term, or any duty at common law, or under the express terms of these terms and conditions for any indirect, special or consequential loss or damage (whether for loss or profit or otherwise), costs, expenses or other claims for compensation whatsoever (whether caused by the negligence of the Company, its employees or agents or otherwise) which arise out of or in connection with the supply of the Services or their use by the Customer, and the entire liability of the Company under or in connection with the Contract shall not exceed the price of Services, except as expressly provided in these terms and conditions.
                    li The Company shall not be liable to the Customer or be deemed to be in breach of the terms and conditions by reason of any delay in performing or any failure to perform, any of the Company’s obligations in relation to Services, if the delay or failure was due to any cause beyond the Company’s reasonable control.  Without prejudice to the generality of the foregoing, the following shall be regarded as causes beyond the Company’s reasonable control:
                        ol.deep-nested
                            li Act of God, explosion, flood, tempest,    fire or accident;
                            li war or threat of war, sabotage, insurrection, civil disturbance or requisition;
                            li acts, restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of the governmental, parliamentary or local authority;
                            li strikes, lock-outs or other industrial actions or trade disputes (whether involving employees of the Company or of a third party);
                            li difficulties in obtaining raw materials, labour, fuel, parts or machinery;
                            li power failure or breakdown in machinery.
            li
                h3 Indemnity
                ol.deep-nested
                    li The Customer shall indemnify the Company against all claims which may be made against the Company and costs incurred by the Company arising from any claim made against the Company arising in connection with these terms and conditions and this indemnity shall extend to and shall include all costs and expenses reasonably incurred by the Company in investigating and/or defending any such claim provided that:
                        ol.deep-nested
                            li the Company is given full control of any proceedings or negotiations in connection with any such claim;
                            li the Customer shall give the Company all reasonable assistance for the purpose of any such proceedings or negotiations;
                            li except pursuant to a final award, the Customer shall not pay or accept any such claim, or compromise any such proceedings without the consent of the Company (which shall not be unreasonably withheld);
                            li the Customer shall do nothing which would or might vitiate any policy of insurance or insurance cover which the Customer may have in relation to such infringement, and this indemnity shall not apply to the extent that the Customer recovers any sums under any such policy or cover (which the Customer shall use its best endeavours to do);
                            li the Company shall be entitled to the benefit of, and the Customer shall accordingly account to the Company for, all damages and costs (if any) awarded in favour of the Customer which are payable by, or agreed with the consent of the Customer (which consent shall not be unreasonably withheld) to be paid by, any other party in respect of any such claim; and
                            li without prejudice to any duty of the Customer at common law, the Company shall be entitled to require the Customer to take such steps as the Company may reasonably require to mitigate or reduce any such loss, damages, costs or expenses for which the Company is liable to indemnify the Customer under this clause.
            li
                h3 Insolvency of Customer
                ol.deep-nested
                    li This clause applies if:
                        ol.deep-nested
                            li the Customer makes any voluntary  arrangement with its creditors or (being an individual or firm) becomes bankrupt or (being a company) becomes subject to an administration order or goes into liquidation (otherwise than for the purposes of amalgamation or reconstruction); or
                            li an encumbrancer takes possession, or a receiver is appointed, of nay of the property or assets of the Customer; or
                            li the Customer ceases, or threatens to cease, to carry on business; or
                            li the Company reasonably apprehends that any of the events mentioned above is about to occur in relation to the Customer and notifies the Customer accordingly.
                    li If this clause applies then, without prejudice to any other right or remedy available to the Company, the Company shall be entitled to cancel the contract or suspend any further deliveries under the Contract without any liability to the Customer, and if the Services have been provided but not paid for the price shall become immediately due and payable notwithstanding any previous agreement or arrangement to the contrary.
            li
                h3 General
                ol.deep-nested
                    li Any notice required or permitted to be given by either party to the other under these terms and conditions shall be in writing addressed to that other party at its registered office or principal place of business or such other address as may at the relevant time have been notified pursuant to this provision to the party giving the notice.
                    li No waiver by the Company of any breach of these terms and conditions by the Customer shall be considered as a waiver of any subsequent breach of the same or any other provision.
                    li If any provision of these terms and conditions is held by any competent authority to be invalid or unenforceable in whole or in part the validity of the other provision of these terms and conditions and the remainder of the provision in question shall not be affected.
                    li Any dispute arising under or in connection with these terms and conditions or shall be referred to the decision of an expert, who shall act as expert and not as arbiter, to be appointed by agreement or (in default) nominated on the application of either party by the President for the time being of the institute of Chartered Accountants of Scotland and whose decision (including any decision as to his costs) shall be final.
                    li The Company is entitled to sub-contract any of its obligations under this these terms and conditions.
                    li The Customer is not entitled to assign or sub-contract any of its rights or obligations under these terms and conditions without the prior written consent of the Company.
                    li These terms and conditions shall be governed by the law of Scotland, and the Customer agrees to submit to the non-exclusive jurisdiction of the Scottish courts.