ol.deep-nested 
    list-style-type none
    counter-reset item
    margin 0
    padding 0

    li 
        display table
        padding-left 0
        counter-increment item
        margin-bottom 0.6em

    li:before 
        content: counters(item, ".") ". "
        display table-cell
        padding-right 0.6em

    li li 
        margin 10px 0 15px 0

    li li:before 
        content: counters(item, ".") " "