@import '_settings'

normalize-css()
base()

body
  padding: 0px

#header #header-top
    background #03a9f4
    padding 10px 0
    
    ul li,ul li a
        font-weight 600
        font-size 13px
        color #b3e5fc
        text-decoration none !important
    
    ul li a:hover
        color #fff
    
    #contact-top li
        display inline-block
        margin-right 10px 
        
    ul li .icon.icon-left
        margin-right 8px
        font-size 16px

#header-bottom
    background #fff
    
    .navbar-nav > li > a
        text-transform uppercase 
        font-size 14px
        color #727272
        
    .navbar-nav > li.active > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus
        color #03a9f4
        background transparent
        
    a.menu-cart
        color #03a9f4 !important
        font-size 20px !important
        
#home-slider
    background: url(../img/cover-slider-bg.jpg) center center
    background-size cover
    
    h3
        line-height 38px
        font-weight 300
        
#home-links 
        
    > div
        text-align center
        padding 55px 0 55px 0
    
    div > a
        display block
        font-size 16px !important
        text-transform uppercase
        color #fff !important
        margin-top 10px
        text-decoration none
    
    .column-links1 
        background #03a9f4
    
    .column-links2
        background:#b3e5fc
    
    .column-links3
        background:#8bc34a
    
    .column-links4 
        background:#aed46f
        
#home-course-list
    background #f6f6f6
    
    .column-container
        height auto
        
#home-testimonial
    background #f6f6f6

#footer
    background #03a9f4
    color #fff
    font-size 14px
    
    a,h4
        color #fff
        
    .copyright-links
        text-align right
        
    .copyright-links li
          display inline-block
          margin-left 20px
          
    #footer-layout-box
        padding 70px 0
        
        h4
            margin-bottom 30px
        
        ul.arrow li
            margin-bottom 10px

        ul.arrow li:before
            color #b3e5fc
            
        .footer-social-media li
            display inline-block
            margin-right 8px
                
        .footer-social-media li a
            border 1px solid #b3e5fc
            color #b3e5fc !important
            padding 6px 8px
            border-radius 50%
            font-size 18px
                
        .footer-social-media li a:hover
            color #fff !important
            border-color #fff
            
        .normal-list li
            line-height:30px
            
        .normal-list li i
          font-size 18px
          color #b3e5fc
.general 
    
    .cover-slider 
        background url(../img/cover-slider-bg.jpg) center
        padding 100px 0

        .title-container h1
          color #fff
          margin-top 0
          margin-bottom 15px
          font-size 50px
        
        .sub-title-container
          margin-bottom 0
          text-align center
        
        .sub-title-container h4
          color #fff
        
        .sub-title-container h4:after, .sub-title-container h4:before
          display none
      
.about-awards
    background #03a9f4
    padding 50px 0 60px 0
    color #fff
    margin 70px 0 50px 0
    font-size 14px

    .row
        margin-bottom 40px
        
        h5
            margin-top 0
            margin-bottom 10px
            color #fff
            text-transform uppercase
            display table
            
        h5 i
            line-height 24px
            padding-right 5px !important
            display table-cell
            float none
            font-size 18px
            vertical-align top
        
        h5 strong
            display table-cell
            vertical-align top
            font-weight 600

        span,em 
            display block
            font-style normal
            
    .row:last-child
        margin-bottom 0
        
.team-item
    text-align center

    .team-item-profile img
      max-width 100%

    .team-item-name
        margin-top 15px

    .team-item-name h4
        margin-bottom 0
        font-weight 600

    .team-item-position h5
        margin-bottom 0
        font-size 15px
        color #727272


@media (min-width:640px)

    #home-links 
        
        > div
            float left
            width 50% 
            
@media (min-width:768px)

    #header-bottom
        padding 13px 0
          
        .navbar-brand
            padding 0 !important
            
        .navbar-nav > li
             margin-left 25px

        .navbar-nav > li:first-child
             margin-left 0px
             
        .navbar-nav > li > a
            padding 26px 0 !important
            
        .divider
            padding-top 25px 
            height 100%
            background transparent

        .divider span
            width 1px
            display block
            height 25px
            vertical-align middle
            background #e5e5e5
            
    #home-slider       
        padding 130px 0
        
        .cover-caption
            padding 9% 0
            
    #home-course-list
    
        .column-container
            padding 70px 40px 0px 40px
            
@media (min-width:992px)

    #header-bottom
            
        .navbar-nav > li
             margin-left 35px
             
    #home-course-list
    
        .column-container
            padding 40px 30px 0px 30px         

    #footer-layout-box
        
        #layout-box-2 
            margin-left 25px
        
        #layout-box-3, #layout-box-4
            margin-left 20px
        
@media (min-width:1200px)

    #home-course-list
    
        .column-container
            padding 50px 40px 0px 40px

@media  (max-width:640px)

    .about-awards .row
        text-align center
        
        h5
            text-align center
            display block !important
            
        h5 i
            text-align center
            display inline-block !important
            float none !important
            
        h5 strong
            text-align center
            display inline-block !important

@media  (max-width:767px)

    .row > div
        margin-bottom 40px
                
    .row > div:last-child
            margin-bottom 0
            
    #login-top
            float none
                
    #header-bottom
        
        .navbar-toggle
            padding 35px 15px
            margin 0
            display block
  
        .navbar-toggle span.icon-bar
            background #0288d1 
            height 4px
            width 35px
            margin-bottom 6px
            border-radius 5px
            
        #bs-example-navbar-collapse-1
            background #0288d1

        #bs-example-navbar-collapse-1 ul
            margin 15px 30px
  
        #bs-example-navbar-collapse-1 ul li
            padding 8px 0
            border-top 1px solid #0592d2

        #bs-example-navbar-collapse-1 ul li:first-child
            border-top 0px

        #bs-example-navbar-collapse-1 ul li .menu-cart
            font-size 14px !important

        #bs-example-navbar-collapse-1 ul li a
            color #fff !important 
            text-align center
            font-size 16px 
  
        #bs-example-navbar-collapse-1 ul li.divider, #bs-example-navbar-collapse-1 ul li .menu-cart i
            display none

    #home-slider       
        padding 100px 0
        
        .row > div img
            width:220px
            
    #home-course-list
    
        .column-container
            padding 80px 40px 80px 40px

    #copyright, #copyright ul, #home-slider .row > div
        text-align center !important